.App {
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  background: #0B0C0F;
  display:flex;
  justify-content: space-evenly;

}

.container {
  max-width: 1000px;
  width: 48%;
  min-height: 100vh;
  height: 100%;
  background: rgb(71, 70, 70);

  text-align: center;
  padding-top: 100px;
}

.container > h1 {
  font-size: 60px;
  background: linear-gradient(to right,red, red, orange , yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 60px;
  padding: 20px 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  box-shadow: 1px 1px 5px black;
}

.bagelContainer {
  width: 100%;
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;

}